<div class="element">
    <a href="@Url.Action("Edit")" class="fg-white">Edit Profile</a>
</div>
<span class="element-divider"></span>
<div class="element">
    <a href="@Url.Action("ChangePassword")" class="fg-white">Change Password</a>
</div>