<ul id="menu" class="account">
    <li>
        @if (Roles.IsUserInRole("Member"))
        {
            @Html.ActionLink("My Account", "Index", "Profile")
        }

        @if (Roles.IsUserInRole("Admin"))
        {
            @Html.ActionLink("Admin", "Index", new { area = "Admin", controller = "Members" })
        }
    <li>
        @using (Html.BeginForm("Logout", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    </li>
</ul>
