<div class="footer-menu">

    <div class="footer-columns">
        <h1>Other Sites</h1>
        <ul>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Products</h1>
        <ul>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Business</h1>
        <ul>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Media</h1>
        <ul>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
            <li style="line-height: 12px;"><a href="#" target="_blank">Link</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Follow Us</h1>
        <div class="socialmedia">
            <p><a id="fb" href="http://www.facebook.com/" class="social" target="_blank">Facebook</a>
            <a id="twitter" href="http://twitter.com/" class="social" target="_blank">Twitter</a>
            <a id="youtube" href="http://youtube.com/" class="social" target="_blank">Youtube</a></p>
        </div><!-- /socialmedia -->
    </div>

    <div id="copyright">
        &copy; 2014 RedLions. All Rights Reserved
    </div>

</div>