
@{
    ViewBag.Title = "Awards";
}

<div>
    <div>
        <img src="~/Content/Images/Home/Awards/certs.jpg" />
    </div>

    <div>
        <img src="~/Content/Images/Home/Awards/iso_certs.jpg" />
    </div>
</div>