@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="float: right; height: 180px; width: 350px;padding:10px;margin:10px">
    <b>The Company</b>
    <ul>
        <li><a href="#company">About Uno</a></li>
        <li><a href="#board">The BODs</a></li>
        <li><a href="#mission">Corporate Mission</a></li>
        <li><a href="#vision">Corporate Vision</a></li>
        <li><a href="#cert">Company's Legalities and Certifications</a></li>
        <li><a href="#awards">Awards and Certificates</a></li>
    </ul>
</div>

<a name="company"><h2>The Company</h2></a>

<hr />

<p><b>Unlimited Network of Opportunities International Corporation</b> ( or <i>UNO</i> ) is a convergence of the finest network marketers in the country today as they offer new opportunities, conquer new challenges and welcome new partners in this impressive and generous way of extending help to millions of Filipinos here and abroad.</p>

<p>
    <b>UNO</b> is a dynamic marketing company engaged in the distribution of health enhancing natural products and other services that address the needs of modern living. UNO is ran by top network industry leaders whose credibility has been years in the making. In its forefront are top-caliber professionals and successful network marketers with several years of experience in leverage marketing. UNO takes on to deliver a performance breakthrough!
</p>

<p>
    It is definite that <b>UNO</b> is poised to be among the major players in the industry of network marketing. All the vital elements to drive in a new curve of new markets and technologies are present. They equip every network marketer the convenience of simultaneously marketing fast-moving health and wellness products.
</p>

<p>It is very much in the interest of UNO leaders that today's challenges be fulfilled without divisions and delays, and that is to <b>SERVE THE NEW CONSUMER</b></p>

<a name="board"><h3>The Board of Directors</h3></a>

<img src="~/Content/Images/Home/Company/company_bod.jpg" />

<ul>
    <li>
        <p>
            <b>William Barbo</b> was working student who made his way thru college and graduated as a mechanical engineer. After college he worked as a bartender for five years before joining the Network Marketing Industry. For seventeen long years he worked his way to the top. He became a consistent Top Earner and has been awarded as Top Distributor in 3 different Network Marketing Company. He is now one of the most popular and well respected personalities in the industry. He resides as one of the Board of Directors of UNO, the biggest network marketing company in the Philippines and holds the title as one of the Three Aces in the Network Marketing Industry.
        </p>
    </li>
    <li>
        <p><b>Oliver Chua</b> born to a rich Chinese family, he was a proverbial child born with a silver spoon. Their fortunes were thought to last for generations. But when he was growing up as a teenager, their family business downtrend and took a 360 degree turn. His father passed away and their fortune collapsed. As a typical Chinese lad, they were trained to be self-reliant and work hard for the money. From being employers to becoming an employee the humbling experience never bothered him.</p>
        <p>
            Realizing that his dreams and passion were not within reach from his present employment, he decided to quit his job. Younger brother Herbie introduced network marketing to him and immediately liked the concept. However Network Marketing was not within his training and experience. Even his extreme and reserved personality was not tailored for the business. But he was determined to bounce back from where he came from.
        </p>
        <p>
            He patiently attended trainings, meetings and functions. It fueled the spark and recharged him. It gave him the courage to do the business. At first he perceived that his reserved (shy) personality was his weakness, but he found out that it would be his strength. Because of that he is easily duplicable. Most people would look up to him and say, “If he (Oliver) can do it, so can I”. His success was not at all a walk in the park. Several hurdles were encountered along the way.
        </p>
        <p>
            Thanks to the support of the mentors, he was able to overcome those challenges. He became a consistent top earner and now sits as one of UNO International Corporation’s Board of Directors. He is also considered to be one of the Three Aces in the Network Marketing Business.
        </p>
    </li>
    <li>
        <p>
            <b>Herbie Chua</b> just like his brother Oliver, he too had his share of abundance and struggles. From the very start, his Chinese blood of entrepreneurship flowed through his veins. The value of being your own boss remained to be his resolved. Thus at a young age, he ventured into the automotive buy and sell business.
        </p>
        <p>
            Just like in any other business of this kind, income was unpredictable. The Networking Business knocked on his doors through his in-laws. At first he was reluctant, but what strucked him was the prospect of making more money with just a small capital. This defied his understanding of what a business should be. Big Income means Big Investments with Big Risk.
        </p>
        <p>
            Network Marketing was a big revelation to him. Seeing and hearing so many ordinary people making extra ordinary income awakened his passion. But just like his brother Oliver Chua, his reserved personality made it difficult for him to do the business. With a built-in attribute of a chiinese descent all he needed was an opportunity and Network Marketing was already at his doorstep. He proceeded saying “If this is the path that would get me what I need, then so be it”.
        </p>
        <p>
            All he needed was a paradigm shift and the proper trainings. Soon enough he begun sponsoring people one after the other and developed leaders that would further expand his organization. His organizations phenomenal growth earned him the respect and accolades among his peers. His name became synonymous with success. Now he is also regarded as one of the ace in the Network Marketing Business.
        </p>
    </li>
</ul>

<a name="mission"><h3>Our Corporate Mission</h3></a>

<p>- To be the # 1 network marketing opportunity in the world. </p>

<a name="vision"><h3>Our Corporate Vision</h3></a>

<p>- To provide the best products and services, to produce more successful entrepreneurs. </p>

<a name="cert"><h3>Company's Certifications</h3></a>

<img src="~/Content/Images/Home/Company/company_awards.jpg" />

<a name="awards"><h3>Awards and Recognition 18th ANNUAL ASIA- PACIFIC EXCELLENCE AWARDS (APEA)</h3></a>

<ul>
    <li>Grapeseed extracts 2010 best anti-oxidant health supplement June 12 2012/ Baguio Phils.</li>
    <li>Grapeseed extracts 2010 best anti-oxidant health supplement June 10 2012/ Bangkok, Thailand.</li>
    <li>Kojic Soap 2010 Best Skin Care June 12 2012/ Baguio Phils</li>
    <li>Kojic Soap 2010 Best Skin Care June 10 2012/ Bangkok, Thailand.</li>
    <li>8in1 Coffee 2010 Best organic Best Health coffee June 12 2012/ Baguio Phils</li>
    <li>8in1 Coffee 2010 Best organic Best Health coffee June 10 2012/ Bangkok, Thailand</li>
    <li>6in1 shampoo 2010 Best Hair care Shampoo June 12 2012/ Baguio Phils</li>
    <li>6in1 shampoo 2010 Best Hair care Shampoo June 10 2012/ Bangkok, Thailand</li>
</ul>

<h3>GLOBAL BRAND 2012 (14TH GLOBAL BRAND & GLOBAL EXCELLENCE AWARDS)</h3>
<ol>
    <li>Cappuccino with Guyabano and Moringa Best Health Organic Coffee</li>
    <li>iCARE magnetism and negative ION Napkin Best sanitary napkin</li>
    <li>Supercharged best health Energy supplement </li>
</ol>

<img src="~/Content/Images/Home/Company/company_why.jpg" />

<h3>UNO-ASIA’S NO.1 NETWORK MARKETING COMPANY </h3>
<ul>
    <li>June 17 2012 Manila, Phils.</li>
    <li>August 24-26 Hongkong</li>
</ul>

<h3>ISO 9001:2008 CERTIFIED (awarded twice; The first in the MLM History of the Philippines)</h3>
