@{
    ViewBag.Title = "Account Expired";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">
    <h2>Subscription Expired.</h2>
    <hr />

    <p>Your subscription has expired.  To renew your subscription, please contact support.</p>

    <a href='@Url.Action("Index", "Home")'>Go back to homepage.</a>
</div>
    
