@{
    ViewBag.Title = "Home";
}

<ul class="rslides" id="slider">
    <li><img src="~/Content/Images/Banners/banner1.png" /></li>
    <li><img src="~/Content/Images/Banners/banner2.png" /></li>
    <li><img src="~/Content/Images/Banners/banner3.png" /></li>
</ul>
<div class="clearboth"></div>


@section Scripts {
    @Scripts.Render("~/Scripts/Custom/home.index.js")
}
