@{
    ViewBag.Title = "Inquiry Confirmed";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}



<div class="page">
    <div class="page-region">
        <div class="page-region-content">

            <h2>Inquiry Sent!</h2>

            <p>Thank you for sending an inquiry. Please check your email or cellphone regularly, 
            you will will be receiving a reply from one of our associates shortly.</p>

            <a href='@Url.Action("Index", "Home")'>Go back to homepage.</a>

        </div>
    </div>
</div>