@{
    ViewBag.Title = "Opportunities";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Opportunities</h2>

    <p>@Html.ActionLink("Local Plan", "LocalPlan")</p>

    <p>@Html.ActionLink("International Plan", "InternationalPlan")</p>

</div>