@{
    ViewBag.Title = "The Organization";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">
    <div style="float: right; height: 180px; width: 350px;padding:10px;margin:10px">
        <b>The Organization</b>
        <ul>
            <li><a href="#about">About RedLions</a></li>
            <li><a href="#history">History</a></li>
            <li><a href="#founder">Founder</a></li>
        </ul>
    </div>

    <a name="about"><h3>The Organization</h3></a>

    <p>We are one of the fastest growing groups in UNO Int'l Corp., not only in the Philippines but also have made our mark in the global market. Our group has produced more than 50 car achievers and has developed numerous multi-millionaires. We have a worldwide membership of 35,000 developed in  only a span of 6 years. We are engaged in the distribution of health enhancing products and wealth promoting system.</p>

    <a name="history"><h3>History</h3></a>

    <p><b>RedLions</b> is the team name under the network of <b>Mr. Warren Trinidad</b>, a consistent top earner and an Emerald Executive of UNO International Corp. Sometime in 2010 when leaders under his network decided to come-up with one name that will distinguish his entire empire from the rest of the groups in UNO. Red has been the color of his group and lion symbolizes bravery and honor, the leaders of the team with Warren Trinidad decided to come-up with the team name "RedLions". It was a good timing as well when the movie Robinhood was unleashed in theaters in the same year and it caught Mr. Trinidad's attention to use the tag line "Rise and Rise again until lambs become lions."</p>

    <a name="founder"><h3>The Founder</h3></a>

    <p>
        <b>Warren Trinidad</b> speaks and trains people around the philippines and abroad especially in our empire <b>REDLIONS</b>. He built the team thru continuous perseverance trainings, duplications, and motivations with his powerful core leaders around him. He has 10 years of professional experience in NETWORK MARKETING. He has his fair share of ups and downs, but he continued to strive hard to succeed in the arena of <b>NETWORK MARKETING</b>.
        Warren is a husband to his wife Diane, Anika name of their lovely daughter. He's a Table Tennis player, network gamer, and loves to watch inspirational movies. He’s born and raised in Davao City, one of the best and lovely city to be in the Philippines.
    </p>

    <img src="~/Content/Images/Home/Org/org_warren.jpg" />

    <p>
        He is now looking to attract people local and international to work with him. People who has <b>BIG DREAMS, VISIONARY, POSITIVE MINDSET AND WILLING TO BE TRAINED and have MINDSET LIKE OURS. </b>
    </p>
</div>