@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<img style="display: block; width: 970px; margin-bottom:15px;" src="~/Content/Images/Home/Products/banner_lalumiere.jpg" />

<div class="products option-container">

    <div class="panel skin">
        <div class="panel-heading">
            Glutathione Soap
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_glutasoap.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            Bb Cream
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_bbcream.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            Glutathione Capsule
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_glutacapsule.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            Glutathione Lotion
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_glutalotion.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            Kojic Acid Soap
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_kojic.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            Magic Cream
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_magic.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            Thanaka
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_tanaka.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            Body Works
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_bodyworks.jpg" />
        </div>
    </div>

    <div class="panel skin">
        <div class="panel-heading">
            La Lumiere
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_lalumiere.jpg" />
        </div>
    </div>

    <div class="panel food">
        <div class="panel-heading">
            KryptOrganic
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_krypt.jpg" />
        </div>
    </div>

    <div class="panel food">
        <div class="panel-heading">
            Grape Seed
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_grape.jpg" />
        </div>
    </div>

    <div class="panel food">
        <div class="panel-heading">
            Virgin Coconut Oil
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_virgin.jpg" />
        </div>
    </div>

    <div class="panel food">
        <div class="panel-heading">
            Wheatgrass & Barley
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_wheat.jpg" />
        </div>
    </div>

    <div class="panel food">
        <div class="panel-heading">
            Ultima-C
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_ultimac.jpg" />
        </div>
    </div>

    <div class="panel healthy">
        <div class="panel-heading">
            Acai Berry
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_acai.jpg" />
        </div>
    </div>

    <div class="panel healthy">
        <div class="panel-heading">
            Prime Juice
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_prime.jpg" />
        </div>
    </div>

    <div class="panel healthy">
        <div class="panel-heading">
            Cappuccino
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_cappuccino.jpg" />
        </div>
    </div>

    <div class="panel healthy">
        <div class="panel-heading">
            8 in 1 Coffee
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_coffee81.jpg" />
        </div>

    </div>

    <div class="panel healthy">
        <div class="panel-heading">
            Corn Coffee
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_corn.jpg" />
        </div>

    </div>

    <div class="panel healthy">
        <div class="panel-heading">
            Choco8
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_choco.jpg" />
        </div>
    </div>

    <div class="panel house">
        <div class="panel-heading">
            Dishwashing Liquid
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_dish.jpg" />
        </div>
    </div>

    <div class="panel house">
        <div class="panel-heading">
            Advance Care Toothgel
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_advance.jpg" />
        </div>
    </div>

    <div class="panel house">
        <div class="panel-heading">
            Laundry Granules
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_laundry.jpg" />
        </div>
    </div>

    <div class="panel house">
        <div class="panel-heading">
            Natura White
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_natura.jpg" />
        </div>
    </div>

    <div class="panel wellness">
        <div class="panel-heading">
            Magnetic Bracelet
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_magnet.jpg" />
        </div>
    </div>

    <div class="panel wellness">
        <div class="panel-heading">
            Scalar Pendant
        </div>
        <div class="panel-body">
            <img src="~/Content/Images/Home/Products/mini_scalar.jpg" />
        </div>
    </div>
</div>

<div class="products summary container">
    <a href="@Url.Action("Products", "Home", new { id = 1 })"><p class="title">PRODUCTS LIST</p></a>
    <div id="summary-skin" class="summary">
        <b class="heading">SKIN CARE <br />SKIN CARE/WHITENING</b>
        <ul>
            <li>Glutathione Capsule</li>
            <li>Glutathione Soap</li>
            <li>Glutathione Lotion</li>
            <li>Kojic Acid Soap</li>
            <li>Magic Cream</li>
            <li>Thanaka</li>
            <li>La Lumiere</li>
            <li>Body Works</li>
        </ul>
    </div>
    
    <div id="summary-food" class="summary">
        <b class="heading">FOOD/NUTRITIONAL SUPPLEMENTS</b>
        <ul>
            <li>KryptOrganic</li>
            <li>Grape Seed</li>
            <li>Virgin Coconut Oil</li>
            <li>Wheatgrass & Barley</li>
            <li>Ultima-C</li>
            <li>FitRight</li>
            <li>Supercharge</li>
        </ul>
    </div>

    <div id="summary-healthy" class="summary">
        <b class="heading">HEALTHY BEVEREGES</b>
        <ul>
            <li>Acai Berry</li>
            <li>Prime Juice</li>
            <li>Cappuccino</li>
            <li>8in1 Coffee</li>
            <li>Corn Coffee</li>
            <li>Choco8</li>
        </ul>
    </div>

    <div id="summary-house" class="summary">
        <b class="heading">HOUSEHOLD/PERSONAL CARE</b>
        <ul>
            <li>Dishwashing Liquid</li>
            <li>Advance Care Toothgel</li>
            <li>Laundry Granules</li>
            <li>6in1 Hair Treats</li>
            <li>Natura White</li>
            <li>New York Scene</li>
        </ul>
    </div>

    <div id="summary-wellness" class="summary">
        <b class="heading">WELLNESS ACCESSORIES</b>
        <ul>
            <li>Magnetic Bracelet</li>
            <li>Scalar Pendant</li>
        </ul>
    </div>
</div>

@section AddToHead{
    <link href="@Url.Content("~/Content/Styles/packages.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script>

        var selectedProductID = '@ViewBag.SelectedID';

        $(document).ready(function () {

            $("#summary-skin").click(function () {
                $(".panel").hide();
                $(".panel.skin").show();
                $(".summary").removeClass("selected");
                $("#summary-skin").addClass("selected");
            });

            $("#summary-food").click(function () {
                $(".panel").hide();
                $(".panel.food").show();
                $(".summary").removeClass("selected");
                $("#summary-food").addClass("selected");
            });

            $("#summary-healthy").click(function () {
                $(".panel").hide();
                $(".panel.healthy").show();
                $(".summary").removeClass("selected");
                $("#summary-healthy").addClass("selected");
            });

            $("#summary-house").click(function () {
                $(".panel").hide();
                $(".panel.house").show();
                $(".summary").removeClass("selected");
                $("#summary-house").addClass("selected");
            });

            $("#summary-wellness").click(function () {
                $(".panel").hide();
                $(".panel.wellness").show();
                $(".summary").removeClass("selected");
                $("#summary-wellness").addClass("selected");
            });

            console.log("Selected product ID: ", selectedProductID);

            $(".panel").hide();
            switch(selectedProductID)
            {
                case '1':
                    $(".panel").show();
                    break;
                case '2':
                    $(".panel.skin").show();
                    $("#summary-skin").addClass("selected");
                    break;
                case '3':
                    $(".panel.food").show();
                    $("#summary-food").addClass("selected");
                    break;
                case '4':
                    $(".panel.healthy").show();
                    $("#summary-healthy").addClass("selected");
                    break;
                case '5':
                    $(".panel.house").show();
                    $("#summary-house").addClass("selected");
                    break;
                case '6':
                    $(".panel.wellness").show();
                    $("#summary-wellness").addClass("selected");
                    break;
            }
        });


    </script>
}
