@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>

<iframe width="640" height="480" src="//www.youtube.com/embed/-o5inUdzyvU" frameborder="0" allowfullscreen></iframe>

<br /><br /><br />

<iframe width="640" height="480" src="//www.youtube.com/embed/_xgkGQ9biYI" frameborder="0" allowfullscreen></iframe>

<br /><br /><br />

<iframe width="640" height="480" src="//www.youtube.com/embed/Lu0fibDiOIA" frameborder="0" allowfullscreen></iframe>

<br /><br /><br />

<iframe width="640" height="480" src="//www.youtube.com/embed/7yREt1FvLDA" frameborder="0" allowfullscreen></iframe>

