/**
* #.# Custom Navigation Color
*
* Description
*/

/* Navigation Bar Background Color */
.metro.redlions .navigation-bar {
    background-color: #A60000;
}

/* Navigation Bar Hover Highlight Color */
.metro.redlions .navigation-bar .navigation-bar-content .element:hover {
    /* Hover highlight */
    background-color: #BF3030; 
}

/* DropDown Hover Highlight Color */
.metro.redlions .dropdown-menu li:hover {
    background: #BF3030; /* Hover highlight */
    color: #fff;
}

.center-nav {
    margin-left: 40%;
}


/**
* #.# User Inteface Generic
*
* Custom metro css for all interfaces.
*/

.metro.general-ui .page {
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

/* Input Width */
.metro.general-ui .input-control.text, 
.metro.general-ui .input-control.password, 
.metro.general-ui .input-control.textarea,
.metro.general-ui .input-control.select {
    width: 60%;
}

.metro.general-ui .input-control.textarea textarea {
    resize: none;
}

.metro.general-ui .dropdown-menu.option-menu {
    top: 120%;
}

/**
* Grid System
*
* Custom grid system just for the featured videos page.
*/
.grid.featured {
    width: 630px;
    margin: 0 auto;
}

/**
* #.# Member Interface
*
* Description
*/


body.metro.member-ui {
    min-width: 1280px;
}

.metro.member-ui .page {
    width: 1280px; /* Value must match the body.member-ui */
    padding-left: 220px; /* Size of the Sidebar, the extra 20px gives extra space */
    text-align: left;
}

.metro.member-ui div.page-region {
    width: 1060px; /* Make sure the width does not exceed the size of the body.min-width (1060this + 220sidebar = 1280body) */
    margin: 0 auto; /* Makes content align center */
}

.metro.member-ui .sidebar {
    width: 200px; /* If you are going to change the size, make sure to change the padding in .page */
    position: fixed;
    top: 0;
    z-index:100;
    overflow-y: auto;
}

.metro.member-ui .left-nav {
    margin-left: 200px;
}

.member-profile h4 {
    padding-top: 0.8em!important;
}