@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}



<div class="grid">
    <div class="row">
        <div class="span12">
            <h2>Welcome to the Redlions Online System [BETA]</h2>

            <p>A powerful online money making system, exclusive for Redlions members. Our program can guide you in being successful entrepreneur even in the comforts of your home by just using your computer.</p>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2><i class="icon-rocket"></i> Get Updated</h2>
            <p>Keep up to date with the latest news in your news feed.</p>
        </div>
        <div class="span4">
            <h2><i class="icon-thumbs-up"></i> Be Social</h2>
            <p>You can chat with your referrals on our messaging system.</p>
        </div>
        <div class="span4">
            <h2><i class="icon-cart-2"></i> Shop</h2>
            <p>Visit our products page, and see our offered items.</p>
        </div>
    </div>
</div>