@{
    ViewBag.Title = "Bb Cream";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">
    <h2>BB Cream</h2>

    <img src="~/Content/Images/Home/Skin/bbcream.jpg" />

    <p><b>Package:</b> 30mL/Plastic Tube</p>

    <p><b>Direction for Use:</b> Use this after facial cleansing</p>

    <ul>
        <li>For Dark and Medium Skin Tone, apply a small amount of BB Cream and spread evenly into your face until it is invisible. Apply your make up or face powder for a fresh look if desired.</li>
        <li>For fair skin tone, apply a moderate amount of BB Cream and spread evenly into your face until it is invisible. Apply your make up or face powder for a fresh look if desired</li>
    </ul>

    <p><b>Ingredients:</b> Water, Glycerine, Titanium Oxide, Mineral Oil, Isopropyl Myristate, Magnesium Aluminum Silicate, Polyglyceryl-4, Isostearate/Cetyl Dimethicone, Ethylhexyl Methoxycinnamate, Arbutin, Sorbitan Sesquioleate, Stearic Acid, Sodium Chloride, Cera Alba, Hydrated Ferric Oxide (CI77492), Camelia Sinensis Extract, Morus Alba Bark Extract, Panax Ginseng Root Extract, Sodium Cocoyl Hydrolyzed Collagen, Polyquanternium-10, Ferric Oxide (CI 77491), Butylene Glycol, Triiron Teraoxide (CI 77499), Triethanolamine, Imidazolidinyl Urea, Xylene</p>


    <p><b>Direction for Use:</b> Use this after facial cleansing.</p>

    <p><b>Notice:</b> If contact occurs, rinse eyes thoroughly, discontinue use if signs of irritation develop. Keep out of reach of children.</p>


    <p>The Skin Breathe’s Blemish Balm is a make-up base for men and women.</p>

    <p>This light cream is made out of pure natural herbs, Vitamin C, E, Azeloglicina,Chamomile, Allantoin and Betacarotene. It provides long lasting coverage, enchances and lighten skin tone and moisturizes the skin without clogging the pores.</p>

    <p>This Skin Blemish Balm is hypoallergenic and can be safely used in all types of skin. It provides a perfect coverage over acne, erythema, or any blemished skin without any clogging. With it’s silky texture and a botanical formula, this light protecting cream is made out of pure natural herb, vitaminC, vitamin E, azelogicina, chamomile, allantion, and betacarotence. Provides long lasting coverage without clogging skin pore, tone enhancement, lightening of skin and perfect hydration.</p>
</div>