@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">
    <h2>Body Works</h2>

    <p><b>Content:</b> Kojic Acid, Papaya, Puenscrub, Vit A. Vit. E & Vit. C</p>

    <p><b>Variants:</b> Available in Blue, Yellow and Orange</p>

    <p><b>Packaging:</b> 220mL /bottle</p>

    <p><b>Direction for Use:</b> Massage into skin then rinse </p>

    <p><b>Content:</b> </p>

    <p>The main benefiting component in UNO Body Works is that they ex-foliate the skin and thoroughly cleanses and refreshes skin deeper than regular soaps and body washes normally have the ability to do. This is both good for those with dry skin, as it stimulates the blood circulation and the production of the skin's natural oils, and produce new healthy skin. </p>

    <p>For those with oily skin, body scrubs is an e3ective way to deeply clean clogged pores and blackheads that thrives in an oily environment. Dead skin cells, dirt and oil will be released and leave the skin rejuvenated when using a body scrub.If using body moisturizer after the body scrub, your body will be left with a smooth, baby-soft and silky feeling. UNO Body Works can stimulate the immune system of skin to *ght skin aliments, skin disease and keep it's youthful vitality. </p>


    <p>It helps pull out toxins from the skin. To massage the skin with a good body scrub has shown that the blood circulation in a person is improved, which has many health benefits. Since the skin covers a large areaof our body, it is important to nurture and take care of it. UNO Body Works is a healthy way to get clean, get invigorated, get the blood circulation going, and the mood uplifted</p>
</div>