@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">
    <h2>Fit Right</h2>

    <p><b>Content:</b> Green Tea (50mg) , L-Carnitine (50mg), Ampalaya (50mg)</p>
    <p><b>Packaging:</b> 150mg/capsule, 60 capsules/ box</p>
    <p><b>Dosage:</b> Take 1 to 2 capsules a day with beverage / meal or as prescribed by a healthcare professional.</p>

    <p><b>UNO FitRight</b> serves as igniter of the body metabolism</p>

    <p><b>Ampalaya</b>, bitter gourd in its english name, studies suggest that ampalaya contains a hypoglycemic polypeptide, a plant insulin responsible for its blood sugar lowering effect.  Other benefits suggest body detoxification (including removal of nicotine), strengthening of the immune system and fertility regulation. Increasingly recommended as a supplement to traditional therapeutic regimens for diabetes mellitus.</p>

    <p><b>L-CARNITINE</b> supplement helps to optimize acid oxidation and assists in the return to normal weight. L-CARNITINE plays a central role in energy metabolism. It is an important amino acid that can help transport fats to the muscle to be burned as energy thereby promoting better utilzation of body fat. It may also aid in weight loss and improve athletic performance.</p>

    <p>The secret of GREEN TEA lies in the fact it is rich in catechin polyphenois, particularly epigallocatechin gallate (EGCG). EGCG is a powerful anti-oxidant; besides inhibiting the growth of cancer cells it kills cancer cells without harming healthy tissue. It has also been effective in lowering LL cholesterol levels and inhibiting the abnormal function of blood clots. The latter takes on added importance when you consider that thrombosis (the formation of abnormal blood clots) is the leading cause of heart attacks and stroke.</p>
</div>