@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Glutathione Lotion</h2>

    <p><b>Packaging:</b> 120mL /bottle</p>

    <p><b>Direction for Use:</b> Apply liberally on the whole body at least twice a day. Re-applyfor prolonged sun exposure.</p>

    <p><b>Content:</b> </p>

    <p><b>UNO Glutathione Lotion</b> is created to whiten and protect your skin from harmful ultraviolet sun rays. Plus, it moisturizes and revitalizes your skin... making you radiant... making you desireable. Whitens, blocks (SPF15), Moisturizes and Hydroquinol Free. UNO Glutathione Lotion is Dermatologist - tested and approved, and this is also scented like Victoria Secret’s Love Spell. For Best results, use with UNO Glutathione capsule and UNO Glutathione soap</p>

</div>