@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Glutathione Soap</h2>

    <img src="~/Content/Images/Home/Skin/glutasoap.jpg" />

    <p><b>Content:</b> Kojic Acid, Papaya, Puenscrub, Vit A. Vit. E & Vit. C</p>

    <p><b>Variants:</b> Available in Blue, Yellow and Orange</p>

    <p><b>Packaging:</b> 220mL /bottle</p>

    <p><b>Direction for Use:</b> Massage into skin then rinse </p>

    <p><b>Content:</b> </p>

    <p>The main benefiting component in UNO Body Works is that they ex-foliate the skin and thoroughly cleanses and refreshes skin deeper than regular soaps and body washes normally have the ability to do. This is both good for those with dry skin, as it stimulates the blood circulation and the production of the skin's natural oils, and produce new healthy skin. </p>

    <p>For those with oily skin, body scrubs is an e3ective way to deeply clean clogged pores and blackheads that thrives in an oily environment. Dead skin cells, dirt and oil will be released and leave the skin rejuvenated when using a body scrub.If using body moisturizer after the body scrub, your body will be left with a smooth, baby-soft and silky feeling. UNO Body Works can stimulate the immune system of skin to *ght skin aliments, skin disease and keep it's youthful vitality. </p>


    <p>It helps pull out toxins from the skin. To massage the skin with a good body scrub has shown that the blood circulation in a person is improved, which has many health benefits. Since the skin covers a large areaof our body, it is important to nurture and take care of it. UNO Body Works is a healthy way to get clean, get invigorated, get the blood circulation going, and the mood uplifted</p>



    <p><b>Packaging:</b> 135g/soap</p>
    <p><b>Direction for Use:</b> Use as bath soap. Preferably let it stay 3-5 minutes on your skin before rinsing. For facial use, do not leave on face for more than 2 minutes.</p>

    <p>The new product that comes in a bar soap is more enhanced to totally answer the need to ward off the imperceptible signs of aging, stress and harmful elements in our skin.</p>

    <p>A unique blend of nature’s gift of grapeseed oil, glutathione, and rosehip extracts making up a superior whitening and anti-aging soap. New improved with Vitamin C that provides you greater protection againsts UV rays. Vitamin C also increases the production of collagen and decreases the look of fine lines and pigmentation that are the results of aging. Regular use gently and effectively exfoliate dead skin cells and impurities giving you healthy, radiant, and glowing skin. This soap is made in cold process to preserve the freshness of its extract ingredients. </p>

    <p><b>WHITENING & ANTI-AGING SOAP</b> with three potent ingredients that make more wonders to beauty lovers.: <b>ROSEHIPOIL, GRAPESEED & VITAMIN C</b></p>

    <p><b>GLUTATHIONE:</b> proven to diminish the skin imperfection, dark spots, and blemishes.</p>
    <p><b>ROSEHIP OIL:</b> works on fine lines and wrinkles and other natural or manmade marks on our skin. It has been proven that rosehip creates miracle specially in reducing pigmentation. Beauty experts attest to its powers. It moisturizes and revitalizes the skin by fixing damaged skin cells resulting in smoother skin.</p>

    <p><b>GRAPESEED OIL:</b> It has moisturizing and nourishing properties. Used by experts and beauty affecionados for hundred of years. Grapeseed oil which from the seeds as a by-product of manufactured wine is best absorbed into the skin and is good oil for acne and oily skin.</p>

    <p><b>VITAMIN C:</b> is of course man's best protection against common skin imperfection like acne, blackheadsand etc. combined these four and you get the wonders of our NEW GLUTATHIONE SOAP.</p>

</div>