@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Pure Glutathione Capsule</h2>

    <img src="~/Content/Images/Home/Skin/glutacapsule.jpg" />

    <p><b>Content:</b> Glutathione 225 mg (Anti-Oxidant), Vitamin E 50 mg (Free Radicals Neutralizer), Vitamin C 100 mg (boosts and maximizes Collagen Effectiveness) and Alpha Lipoic Acid 25 mg (increase production of glutathione which dissolve toxic substances in the liver), and 3mg Collagen.</p>

    <p><b>Packaging:</b> 500mg/capsule; 30capsules/ box</p>

    <p>The nourishing benefits of UNO Glutathione Capsule: Serves as powerful antioxidant to protect key cell components from damage by neutralizing these free radicals. It improves the cardiovascular and immune systems. It also detoxifies, eliminates free radicals and peroxides. It repairs DNA synthesis, an important factor in the prevention of cancer (prostate cancer).</p>

    <p><b>Amino acid transport -</b> the steady schedule of amino acid in our body is necessary. </p>

    <p><b>Immune system enhancement - </b>the body like any machine weakens and deteriorates.</p>

    <p><b>Enzyme activation - </b> these protein molecules that possess catalytic activity needs pump priming every now and then to speed up chemicals reactions in the body and maintain its over- all healthy condition.</p>

    <b>Colour of Skin & Duration: </b>
    <ul>
        <li>Medium brown skin - 1-3months</li>
        <li>Dark brown skin - 3-6months</li>
        <li>Very dark skin - 6-12 months</li>
        <li>Black skin - 2 years or more</li>
    </ul>

    <b>
        Upon reaching desired skin color, maintenance dose: 1 capsule 500mg once a day.
        Note: Best taken with preferably 30 minutes before or after meals.
    </b>


    <p>GLUTATHIONE AND VITAMIN C: A person taking L glutathione should take Vitamin C two to three times more than the dose of L Glutathione.</p>

    <p>Why is Vitamin C needed? This is to keep L Glutathione in its absorbable or reduced form. This will release the potential of Vitamin C s derivatives whitening properties. L Glutathione has no known side effects or interactions even if given orally in prolonged use.</p>

    <p>Grape seed Oil Extracts 1,000mg should be taken, 1cap 2x a day to regenerate oxidized glutathione to its absorbable form.</p>

    <p>All Glutathione are oxidized when they pass the stomach and become Glutathione Disulfide (GSSG). With the presence of other antioxidants such as Vit C, Alpha Lipoic Acid, Vitamin E and most especially Grape seed Oil Extracts (20x Vit C and 50x Vit E), regenerates Glutathione Disulfide to Reduced Glutathione (Usable form of Glutathione).</p>
    <p>Is there anything to avoid when taking this whitening pill? L-Glutathione and its components (Vitamin C, ALA and Grape Seed Extract) can be considered fastfood/dietary supplement, they are also called powerful antioxidants. It is not a drug and so there are no known contradictions and precautions to be taken into consideration. However, L-Glutathione shouldn't be taken by people taking anti-psychotic drug and chemotherapeutic drug. You should also not take it if you just recently undergone an operation or an organ transplant. Avoid drinking alcoholic beverages, the presence of alcohol in the stomach is one reason for your body to not fully absorb the whitening pill.</p>
</div>