@{
    ViewBag.Title = "Grapeseed";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Grapeseed</h2>

    <p><b>Packaging: </b>150mg/capsule x 30’s</p>
    <p>
        <b>Indication:</b> Dietary Supplement that helps prevent CVD, DM, and anti-aging.
        Dosage: 1 capsule, 2x/day every 12 hours or as prescribed by a health professional
    </p>

    <p><b>Why do we need to take UNO Grape seed extract?</b></p>
    <ul>
        <li>Helps in the fight against cardiovascular death.</li>
        <li>Has the ability to scavenge free radicals and reduce the cholesterol build-up.</li>
        <li>Stops cholesterol from building up in the arteries.</li>
        <li>Regulate the intensity of artery expansion as blood passes through them causing stokes and heart attacks.</li>
        <li>Lowers your blood cholesterol.</li>
        <li>Aids in nursing aneurysm or the dangerous ballooning of a weakened area of an artery.</li>
        <li>Helps aging Filipino males struggle prostate cancer.</li>
        <li>Has anti-cancer effects beyond that of an antioxidant studies have been made at the effect of naringenin on DNA repair in human prostate cancer cell cultures.</li>
        <li>The Department of Health (DOH) has staged on active campaign as prostate cancer incidence among aging Filipino males are said to be on the rise. Besides age and family history, poor diet and high-animal-fat diet are contributory.</li>
    </ul>

    <h3>The Fact</h3>

    <p>Close to 2,377,987 fatal heart attack incidences every year. Modern living in the Philippines has now influenced majority of the peoples eating habits. Less nutritious food and more fatty diet now characterize that you see on every table- a situation resulting in rising cases of Cardiovascular ailments include heart attacks and stroke- the top two killers in the country today</p>

</div>