@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Kojic Acid Soap</h2>

    <img src="~/Content/Images/Home/Skin/kojic.jpg" />

    <p><b>Packaging:</b> 135gms/soap</p>

    <p>
        <b>Active Ingredients:</b> Kojic acid (mushroom extract), tocopherol acetate, Niacinamide, Vitamins A, C, E, and B3
        Direction for Use: Use as bath soap, preferably let it stay 3 to 5 minutes on your skin before rinsing. For facial use, do not leave on skin for more than 2 minutes.
    </p>

    <p>
        <b>UNO Kojic Acid soap</b> is used as a skin lightening agent for people who may have sun spots, freckles and other forms of pigmentation on their face, hands and neck. Benefits of using UNO Kojic Acid Soap on a regular basis may help reduce the appearance of age spots, eliminate or reduce freckles, reduce or eliminate their discoloration from pregnancy and strengthen cell activity. The soap is used by many Japanese men and women as part of their regular facial regimen so that the skin stays soft and vibrant. In addition, UNO Kojic acid soap has antibacterial and anti-fungal properties. The mushroom top layer skin cells and peel away damage skin, revealing the fresh and healthy cells underneath. This soap is made in <b>cold process</b> to preserve the freshness of its extract ingredients.
    </p>

</div>