@{
    ViewBag.Title = "KryptOrganic";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>KryptOrganic</h2>

    <p><b>Packaging:</b> 100 tablets per bottle</p>
    <p><b>Content:</b> Per tablet is Chlorella Sorokiniana 116 mg, Spirulina Platensis 80 mg, Crypthecodinium cohnii 4 mg.</p>
    <p>
        <b>Indications:</b> Dietary supplement that helps prevent lifestyle diseases: CVD, CA.
        Dosage: 1 tab 2x/day or as prescribed. Doses should be taken 30 min before meals.
    </p>

    <p>
        <b>Chlorella Sorokiniana</b> is a unique, single-celled, fresh water micro alga with fish-like odor. Its characteristic emerald-green color and pleasant grass odor is due to its high chlorophyll content. It had been the subject of many researches due to its pharmacologic potential in the treatment of metabolic and lifestyle diseases such as obesity, diabetes mellitus, cardiovascular problems, and is essential in cancer prevention.
    </p>


    <p><b>Chlorella Sorokiana</b> was regarded as "space food" due to its complete nutritional value. Aside from its high chlorophyll content, it also has Pycocyanin, Chlorella Growth Factor (CGF), Decosahexanoic Acid (DHA), and Peroxisome Proliferator Activated Receptors (PPAR's).</p>

    <p>Supreme whole food concentrate & storehouse of concentrated nutrients.</p>

    <p><b>Richest source of CHLOROPHYLL “ Nature's Healer”</b> the most powerful blood cleansing agent & it detoxifies the bowel, kidney & liver.</p>

    <p><b>Richest source of Chlorella Growth Factor (CGF) “ long life factors”,</b> enhancer of immunity, retardant of aging, stimulates tissue repair & improves nutrients intake.</p>

    <p>Richest source of natural PPAR Agonists- the most promising biomedical molecules for metabolic syndrome, anti-inflammation, and cancer in the 21st century.</p>

    <p><b>C</b> leanses blood</p>
    <p><b>E</b> nergizes cells</p>
    <p><b>L</b> ower cholesterol</p>
    <p><b>L</b> ose weight</p>
    <p><b>R</b> egulates blood sugar</p>
    <p><b>E</b> nhances libido</p>
    <p><b>P</b> rotects liver & liver</p>
    <p><b>A</b> nticancer</p>
    <p><b>I</b> mproves brain/ nerve function</p>
    <p><b>R</b> ejuvenates cell</p>

    <br />
    <br />

    <p><b>G</b> rowth enhancer</p>
    <p><b>R</b> educes stress</p>
    <p><b>A</b> lkalizes cells</p>
    <p><b>B</b> uilds strong immune system</p>
    <p><b>E</b> xtends good, healthy life</p>

    <h2>Nutritional Value of Chlorella sorokiniana</h2>

    <p>Chlorophyll is well known as the best blood cleanser and detoxifier for the kidney and liver. Chlorophyll assists in the production and purification of blood and aids in the excretion of wastes in the body. Chlorella sorokiniana contains 100 times more chlorophyll than the average vegetable.</p>

    <p>
        Pycocyanin is a protein with antioxidant and antiviral properties. A research done in Cheng Kung University confirmed its ability in inhibiting the infection caused by entorovirus and influenza virus. It also has anti-inflammatory and hepatoprotectant properties.
    </p>

    <p>
        Chlorella Growth Factor (CGF). The CGF in Kryptorganic contains 10% RNA and 3% DNA (considered as the highest levels of nucleic acids). Consumption of Kryptorganic assists in the repair of damaged genetic material in human cells, protecting health and slowing down the aging process. Research indicates that its unique CGF content promotes weight and height gains in children.
    </p>

    <p>Peroxisome Proliferator Activated Receptors (PPAR's) is a variety of micronutrients found abundantly in Kryptorganic. It has potential dyslipidemic, hypoglycemic, anti-inflammatory, and antineoplastic properties. It has also shown major breakthrough in metabolic disease such as obesity, diabetes mellitus, and cardiovascular conditions such as stroke and myocardial infarction or heart attack.</p>

</div>