@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Magic Cream</h2>

    <img src="~/Content/Images/Home/Skin/magiccream.jpg" />

    <p><b>Content:</b> Glutathione, Collagen, Chamomile Extract, Vit B, Vit E & Vit C, Allantoin, Titanium Dioxide, Glycerin, Lactic Acid, Shea Butter, Methyl and Prophyl Paraben</p>

    <p><b>Packaging:</b> 35gms/jar</p>

    <p><b>Direction for Use: </b> Wash face and neck or other problem areas. Apply a pea size amount and massage gently on the skin twice daily. For best result, use 1st health Glutathione Soap as skin cleanser. Use Sunblock / Sun Screen during daytime. If irritation occurs discontinue use. Magically Young and Beautiful!!!</p>

    <p><b>UNO Magic Cream </b>with Glutathione and Collagen is an advance formula that combined the popular premium ingredients known for effective maximum; skin lightening, skin protection, anti-aging and skin tightening.</p>

    <p><b>UNO Magic Cream</b> has all the healthy benefits from Glutathione and anti-aging benefits from Collagen., but more than that, 1st Health Magic Cream has other power pack ingredients that delivers amazing benefits. Check this out:</p>
    <ul>
        <li>Natural rejuvenating benefits from Vitamin C and Vitamin E,</li>
        <li>Effective skin renewal agent from Lactic Acid & Vit. C,</li>
        <li>Healthy moisturizing benefits from Vitamin E and Allantoin</li>
        <li>Powerful treatment and protection against acne and pimples from Vit. C and Lactic Acid</li>
        <li>Helps erase scars, skin discolorations and check uneven skin tone(from Lactic Acid & Vit. C)</li>
        <li>Skin lightening from Lactic Acid, Gluthathione and Vitamin C</li>
        <li>Natural UV protection from Shea Butter</li>
    </ul>


    <p>Your complete skin care regimen in a jar, transforming you… Magically young and beautiful!</p>

    <p><b style="color:red;">UNO Magic Cream is HYDROQUINONE AND MERCURY FREE!</b></p>

    <p><b>ACTIVE INGREDIENTS IN MAGIC CREAM:</b></p>

    <p><b>GLUTATHIONE -</b> Glutathione helps to protect cells and tissues against FREE RADICALS. It is thought that Glutathione has anti-aging effects, and as we grow older, supplementing Glutathione can help prevent the levels from dropping. Dermatologists prescribe Glutathione for its only side effect: whitening of dark skin. Some people with darker skin tone report that taking Glutathione capsules along with vitamin C for three to six months or more actually lightens the color of their skin. Glutathione has a long history of being used by those exposed to radiation and chemotherapy during cancer therapies. It is used to help treat blood disorders, and detoxify the liver of heavy metals, toxins, and alcohol.</p>

    <p><b>COLLAGEN</b> - Amino acid proteins are the building blocks needed for healthy firm skin. The ones that are most important include; collagens, keratins and hyaluronic acid. Collagen is produced in our body however, production declines as we grow old hence the need for supplementation. The resiliency, tenacity and smoothness of our skin is principally dependent on the structural protein matrix (Collagen) holding our skin and body together. Collagen is the substance that gives structure and strength to your skin.The quantity and quality of our skin's collagen has a major role in our appearance. Collagen slows down the aging process and plays a vital role in preventing wrinkles and sagging of the skin</p>

    <p><b>VITAMIN B3 </b>- Vitamin B3 is one of 8 B vitamins. It is also known as NIACIN (nicotinic acid) and has 2 other forms, niacinamide (nicotinamide) and inositol hexanicotinate, which have different effects from niacin. All B vitamins help the body to convert food (carbohydrates) into fuel (glucose), which is "burned" to produce energy. These B vitamins, often referred to as B complex vitamins, also help the body metabolize fats and protein. B complex vitamins are necessary for healthy skin. Research shows topical forms of niacin is effective for treatment of acne, aging, and prevention of skin cancer.</p>

    <p><b>VITAMIN E</b> - In terms of skin health and skin care, Vitamin E benefits are numerous. In fact, skin care products that contain Vitamin E have become an essential part of healthy skin care.</p>

    <ul>
        <li>It is an antioxidant, vital in protecting skin cells</li>
        <li>It regulates Vitamin A in the body</li>
        <li>It has an anti-aging property it</li>
        <li>It helps skin look younger by reducing the appearance of fine lines and wrinkles.</li>
        <li>It is a good sun protection and bun Burn treatment</li>
        <li>It is also used in the treatment of various skin diseases/conditions</li>
        <li>It is also good for treating psoriasis and erythema (a skin inflammation that results in reddish, painful, and tender lumps)</li>
        <li>It is also best in treatment of scars and supplementation against Skin Cancer</li>
        <li>vitamin e products help reduce the appearance of stretch marks</li>
        <li>vitamin e can help prevent the appearance of age spots</li>
        <li>it helps maintain the skin’s oil balance during the cleansing process</li>
        <li>it reduces trans-epidermal water loss from skin and strengthens the skin’s barrier function</li>
    </ul>


    <p><b>SHEA BUTTER</b> - Shea butter has been claimed to be effective in treatment for: scars, eczema, burns, rashes, severe dry skin, dark spots, skin discolorations, chapped lips, stretch marks, wrinkles, and in lessening the irritation of psoriasis. Shea butter is also used as sun block lotion as it reduces the effects of UV damage on the skin.</p>
    <p>
        <b>VITAMIN C -</b>
        One of the very most important ingredients in your skin care treatments is vitamin C. It generally rejuvenates the skin in such a way that it glows;
    </p>

    <ul>
        <li>It moisturizes</li>
        <li>It encourages growth of collagen</li>
        <li>It softens</li>
        <li>It exfoliates and cleanses</li>
        <li>It helps remove wrinkles</li>
        <li>It supports and stimulates the growth of collagen</li>
        <li>It is also an anti-oxidant</li>
    </ul>

    <p><b>ALLANTOIN</b> - Allantoin is a moisturizing agent with keratolytic effect. It increases the water content of the extracellular matrix and enhances the desquamation of upper layers of dead skin cells, increasing the smoothness of the skin, promoting cell proliferation and wound healing. It is a soothing anti-irritant and skin protectant.</p>

</div>