@{
    ViewBag.Title = "Supercharged";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Supercharged</h2>

    <p><b>Packaging:</b> 50Mg x 10 caps per bottle</p>
    <p><b>Content:</b> 100% Organic. Polythachis Vicina Roger, Formica Sanguinea, Ginseng (root), Hippocampi, Medlar, Multi-rich nutrient extract.</p>
    <p><b>Precaution:</b> Do not exceed one (1) capsule per day.</p>
    <p><b>Dosage:</b> Take one (1) capsule, 30 minutes before desired use. Preferably with empty stomach.</p>

    <p>Men’s daily formula for Optimal Health and Sexual Fitness! This product has been made by the Biological Medicine Research Center through extracting rich nutients made from unique medical extracts. It helps in strengthening and improving sexual funtions for a great and happy sex life. It is safe for people who suffer from hypertensions, cardiopathy, and has no adverse reaction with alcohol.</p>

    <p><b>TONGKAT ALI</b> is a tree native to the jungles of Malaysia, Thailand, and Indonesia. It is commonly known as tongkat ali in Malaysia and Singapore, Tung Saw in Thailand, and Pasak Bumi in Indonesia. The tree can grow up to about 12 meters in height. Natives consider every part of the tree as medicine. The tongkat ali root has been used as traditional medicine and promoted as a tonic, energy enhancer, and as an aphrodisiac.</p>

    <p>There is a great deal of misinformation on the internet regarding the ideal dosage of this root and its extracts. I have done my best to provide you with reliable and honest information based on scientific evidence and my personal experiences as a medical doctor who has had extensive feedback from patients.</p>

    <p><b>KOREAN GINSENG Root</b> is Korean ginseng that has been cultivated and aged for 4 - 6 years or more, and goes through an extensive cleaning, steaming and drying process to improve its efficacy. Korean ginseng benefits include an increase in energy and is commonly thought to give an immune system boost, as evidenced in scientifc studies. Korean ginseng root is part of the Panax species of ginseng, which has the active ingredient of ginsenosides. Ginseng is classified by the FDA as a GRAS product, or Generally Recognized as Safe. Korean ginseng root is also available in the form of red ginseng tea and red ginseng extract for ease of consumption.</p>

    <p><b>MACA</b> is a root that grows in the high mountains of Peru. Rich in nutritional content (potassium, andhigher levels of calcium than in milk), it is a natural hormonal balancer which provides great health benefits for both, men and women. Due to its high nutritional value, it is not only popular as a sexual libido enhancer and menopause symptoms savior due to stress, but also greatly affects energy, stamina, depression, memory, and more.</p>

    <p>Maca is recommended for fertility problems, sterility, and other sexual disorders. However, in Peru it has long been known as a potent APHRODISIAC. Research has proven that it acts on certain areas of the body that produce hormones and energizing substances, which enhance libido and increase virility.</p>

    <p>Its amazing libido booster is a result of completely natural hormonal balancing. It is a safe natural product that will improve your marriage, love and sexual life by boosting your libido and stamina, and by producing a general sense of well being!</p>

    <p><b>DHA OMEGA 3</b> There has been a dramatic surge in interest recently, amongst the public and health professionals alike, on the health effects of omega-3 fatty acids derived from fish/fish oils. Current research shows that consumption of EPA and DHA omega-3 fatty acids may reduce the risk of coronary heart disease, lower blood pressure and help reduce arthritis inflammation. DHA is also required in high levels in the brain and retina as a physiologically essential nutrient to provide for optimal neuronal functioning (learning ability, mental development) and visual acuity, in young and old alike. DHA plus EPA are both considered to have beneficial effects in the prevention and management of cardiovascular disease plus associated risk factors as well as other chronic disorders. Where as considerable amounts of the plant-derived omega-3 fatty acid known as a-linolenic acid (ALA) is consumed daily in North America (approximately 2 g/day), the physiologically-essential nutrient, DHA, is consumed at much smaller levels (approximately 80 mg/day) while EPA is consumed at the level of approximately 50 mg/day in a typical North American diet.</p>

    <p><b>MORINGA</b> also known as the Miracle Tree is a multipurpose plant, as the leaves, pods, fruits, flowers, roots and bark of the tree can be utilized. It is also referred to as Drumstick Tree by the Britishers. The specialty of this tree is that it actually bears fruits in the warm season.</p>

    <p>There are many health benefits of the moringa tree, but the health benefits are the most important. Research has proved that various parts of the moringa tree can be used to cure a minimum of 300 diseases. Let’s see a few of them here.</p>

    <ul>
        <li>Moringa is rich in Vitamin A. It contains four times more Vitamin A or beta-carotene than carrots. Hence, it is a weapon against blindness.</li>
        <li>It is also a rich source of Vitamin C many times more than oranges.</li>
        <li>Normally milk is said to be a rich source of calcium but the amount of calcium present in moringa leaves is way higher than in milk.</li>
        <li>
            The moringa leaves are said to contain two times the protein present in milk.
            Bananas are a rich source of potassium. But moringa leaves contain seven times more potassium than bananas.
        </li>
        <li>Along with potassium, zinc is also found in large quantities in moringa.</li>
        <li>If moringa leaves were to be eaten by one and all, the world will be free of anemia as it contains three times more iron than spinach.</li>
        <li>With all the junk food eaten these days, many people face problems of high cholesterol. Moringa helps in balancing the cholesterol levels in the body.</li>
        <li>Essential Amino acids are also found in moringa.</li>
        <li>
            Moringa is also said to balance sugar levels, hence it is helpful in the fight against diabetes.
            The body's natural defense mechanism increases with the consumption of moringa in the daily diet pattern. Since it is an immunity-stimulant, it is prescribed for AIDS afflicted patients. Less immunity is rampant in many provinces in Africa, especially people who do not have access to nutritious food and medicines.
        </li>
        <li>Moringa leaves can be consumed to stimulate metabolism.</li>
        <li>It is also said to have digestive powers.</li>
        <li>It is a nutrition booster and is known to promote a feeling of well-being in people.</li>
        <li>If you are looking for non-sugar based energy, then moringa leaves is the answer. Thus, it will also help in the weight loss process.</li>
        <li>The cell structure of the body is stimulated by the moringa leaves.</li>
        <li>It is especially useful for lactating mothers. The consumption of moringa has shown dramatic increase in the quantity of breast milk.</li>
        <li>It is also famous for its anti-bacterial properties.</li>
        <li>The paste of the moringa leaves is said to beautify the skin and is hence applied by women regularly.</li>
        <li>It protects the liver and kidneys.</li>
        <li>It can also be used as a water purifier.</li>
    </ul>

</div>