@{
    ViewBag.Title = "The Company";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Thanakha Cream</h2>

    <p><b>Packaging: </b>35gms/jar</p>

    <p><b>Direction for Use:</b> Dilute a pinch of Thanakha Cream in a few drops of water and apply thickly on cleansed face as an overnight facial mud pack. A lighter mixture can be used as a make-up base or liquid foundation.</p>

    <p><b>Ingredient:</b> 100% Pure finely ground bark of a Thanakha tree</p>

    <p>Thanakha has so many good benefits to the human skin. It clears your skin from blemishes especially like: Freckles, acne, pimples, blackheads & whiteheads, sunburn, skin discoloration, skin's itchy rashes, & facial rashes. Moreover, it increases the production of coumarin that naturally commands our skin proteins to produce more collagen and Elastin to protect and prevent your skin from premature skin aging like wrinkles and dryness. Organic UNO Thanakha is not based on any large amounts of chemicals and synthetic oils used by traditional cosmetics. Natural Thanakha make-up is 100% Organic without question! It will cause you no allergies, skin irritations or any other side effects even in a lifetime of use.</p>

    <p>Aside from relaxing your mind from stress and anxiety of the everyday grind, the scent of Thanakha also moisturizes, regenerates skin and Hydrates aging skin. It also lightens Large and open pores, controls excessive facial oil, removes Serious Acne, Pimples, Blackheads and whiteheads and is an excellent Make-up foundation, Facial powder and oil controller on day time. Organic UNO Thanakha and Rose oil combined will make sure your skin gets a revolutionary revival from the dull!!!</p>

</div>