@{
    ViewBag.Title = "UltimaC";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>UltimaC</h2>

    <p><b>Content:</b> Sodium Ascorbate 562.43 mg (equiv to ascorbic acid 500 mg).</p>
    <p><b>Indication:</b> Vitamin C deficiency</p>
    <p><b>Dosage:</b> 1 cap 2x/day every 12 hrs or as prescribed.</p>
    <p><b>Precautions:</b> Patients w/ hyperoxaluria. Tolerance maybe induce in patients taking high doses.</p>

    <p>Side Effects while using this product: GI disturbances, fatigue, flushing, headache, insomnia, & sleepiness but these are hyperdelayed reaction or the person is in the process of healing effect (removing the toxins inside the body).</p>

    <p><b>UNO Ultima-C</b> is a revolutionary yet natural Vitamin-C that is readily absorbed by the body cells. It's unique cellular actions are due to Vitamin-C metabolites that work to maximize cellular utilization of Vitamin C. It is a super antioxidant that strengthens the Immune System of the body to perform at least 300 necessary functions in the body. Protects the body against flu, cough, bronchitis, respiratory problem, viral, and bacterial infections. UNO Ultima-C is alkaline that's why we are able to stay away from diseases and cancer.</p>

    <p>UNO Ultima-C is effective in addressing the adverse effect of the following:</p>

    <table border="1" style="border-collapse:collapse;">
        <tr>
            <td>
                <ul>
                    <li>Arthritis</li>
                    <li>Adrenal Insufficiency</li>
                    <li>Alcoholism</li>
                    <li>Allergies</li>
                    <li>Asthma</li>
                    <li>Bleeding Gums</li>
                    <li>Bone Abnormalities</li>
                    <li>Bruises</li>
                    <li>Cancer</li>
                    <li>Cataracts</li>
                    <li>Confusion</li>
                    <li>Colds</li>
                    <li>Cough</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Dental Cavities</li>
                    <li>Depression</li>
                    <li>Discomfort from Arthritis</li>
                    <li>Easy Bruising</li>
                    <li>Effects of Air Pollution</li>
                    <li>Effects of Radiation</li>
                    <li>Fatigue</li>
                    <li>Fever</li>
                    <li>Free Radicals</li>
                    <li>Gingivitis</li>
                    <li>Glaucoma</li>
                    <li>Insomnia</li>
                    <li>Infections</li>

                </ul>
            </td>
            <td>
                <ul>
                    <li>Loose teeth</li>
                    <li>Nosebleeds</li>
                    <li>Meningococcemia</li>
                    <li>Mental illness</li>
                    <li>Nasal</li>
                    <li>Poor digestion</li>
                    <li>Periodontal Diseases</li>
                    <li>Rough Skin</li>
                    <li>Skin Irritation</li>
                    <li>Scurvy</li>
                    <li>Stress</li>
                </ul>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table border="1" style="border-collapse:collapse;">
        <tr>
            <td>Sodium Ascorbate, Alkaline based (7.2-7.8 pH) </td>
            <td>Ascorbic Acid, Acid based (2.5-3 pH)</td>
        </tr>
        <tr>
            <td>100% pure and natural</td>
            <td>with binders and fillers</td>
        </tr>
        <tr>
            <td>Dissolves 4x to 8x faster to quicker absorption </td>
            <td>Dissolves slowly</td>
        </tr>
        <tr>
            <td>Stays from 12 to 14 hours in the body </td>
            <td>Stays 3 to 4 hours in the body</td>
        </tr>
        <tr>
            <td>Neutralizes acidity </td>
            <td>Reinforces acidity</td>
        </tr>
        <tr>
            <td>Non-irritant to the stomach </td>
            <td>Irritate stomach</td>
        </tr>
        <tr>
            <td>Safe for babies </td>
            <td>Not advisable</td>
        </tr>
        <tr>
            <td>Can be taken in mega doze for better health result</td>
            <td>Body cannot tolerate more than 500mg. per day</td>
        </tr>
        <tr>
            <td>96% is absorbed by the body </td>
            <td>Only 25% is absorbed by the body</td>
        </tr>
        <tr>
            <td>Can be taken by people with ulcer (4-6 capsules per day) and diabetes (2-3 capsules per day)</td>
            <td>Cannot be taken by people with ulcer</td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table border="1" style="border-collapse:collapse;">
        <tr><td>Attention Deficit Disorder - 1cap every hour</td><td>Shingles - 1-2caps 4x a day</td><td>Dental Problems - 1-2caps 4x a day</td></tr>

        <tr>
            <td>
                Age Spots - 1-2caps 4x a day
            </td>
            <td>Sinusitis (Inflamed Sinus) - 1-2caps 4x a day</td>
            <td>Depression - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Allergies - 1cap every hour</td>
            <td>Sport Nutrition - 1-2caps 4x a day</td>
            <td>Fibromyalgia Thendonitis - 1-2caps 2x a day</td>
        </tr>

        <tr>
            <td>Anemia - 1-2caps 4x a day</td>
            <td>Stress - 1-2caps 4x a day</td>
            <td>Haemorrhoids - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Angina Pectoris - 1-2caps 4x a day</td>
            <td>
                Stroke - 1-2caps 4x a day
            </td>
            <td>Hot Flashes - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Anxiety - 1-2caps 4x a day</td>
            <td>Temporomandbular (TML) Problems - 1-2caps 4x a day</td>
            <td>Hypoglycema - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Arthritis - 2caps every hour</td>
            <td>Thyroid Problems - 1-2caps 4x a day</td>
            <td>Insomnia - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Asthma - 2 caps every hour</td>
            <td>Ulcers - 1-2caps 4x a day</td>
            <td>Joint Pain - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Back Pain (myofacial pain disorders) - 1cap 4x a day</td>
            <td>
                Vaginitis - 1-2caps 4x a day
            </td>
            <td>Kidney Stones - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Bed Wetting (children) - 1cap 2x a day</td>
            <td>Varicose Veins - 1-2caps 4x a day</td>
            <td>Liver Disorders - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Bladder Infection - 1-2caps 3x a day</td>
            <td>
                Vertigo - 1-2caps 4x a day
            </td>
            <td>Low Libido - 1-2caps a day</td>
        </tr>

        <tr>
            <td>Blood Pressure (High) - 1-2caps 2x a day</td>
            <td>
                Warts - 1-2caps 4x a day
            </td>
            <td>Lupus - 1-2caps 2x a day</td>
        </tr>

        <tr>
            <td>bruises - 1-2caps 2x a day</td>
            <td>Weak Immune System - 1-2caps 4x a day</td>
            <td>Lyme Disease – 1cap a day</td>
        </tr>

        <tr>
            <td>Bursitis - 1-2caps 2x a day</td>
            <td>Weight Management - 1-2caps 4x a day</td>
            <td>Neuritis - 1-2caps 3x a day</td>
        </tr>

        <tr>
            <td>Cancer Prevention - 1-2caps 4x a day</td>
            <td>Worms - 1-2caps 4x a day</td>
            <td>Osteoporosis - 1-2caps 4x a day</td>
        </tr>

        <tr>
            <td>Cancer Sores - 1-2caps 4x a day</td>
            <td>Dental Problems - 1-2caps 4x a day</td>
            <td>Pain Relief - 1-2caps 4x a day</td>
        </tr>
    </table>

</div>