@{
    ViewBag.Title = "Virgin Coconut Oil";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>Virgin Coconut Oil</h2>

    <p><b>Content: </b>Virgin Coconut Oil 1000mg</p>

    <p><b>Packaging:</b> 1000mg X 50 Softgel capsules/ box</p>

    <p><b>Dosage:</b> Take 2 to 6 capsules daily or as prescribed by a healthcare professional.</p>

    <p><b>Indication:</b> Dietary supplement that helps prevent CVD, certain types of CA, aids in digestion.</p>

    <p>It has been used for centuries as a vital source of food for health and general well being in traditional communities of tropical regions. It is called “The Tree of Life” , abandoning unhealthy lifestyles and reverting to natural foods can help to reverse many of the diseases that have manifested in our bodies.</p>

    <p>Here are some of what UNO Virgin Coconut Oil (VCO) can do for you:</p>
    <ul>
        <li>Improve your energy</li>
        <li>Reduces your risk of heart diseases.</li>
        <li>Reduce your risk of cancer.</li>
        <li>Improve your digestion and ability to absorb nutrients.</li>
        <li>Promotes weight loss and maintenance of your ideal weight</li>
        <li>Help prevent bacterial, yeast, fungal and viral infections.</li>
        <li>Support and enhance your immune system.</li>
        <li>Help regulate your blood sugar and prevent or control diabetes.</li>
        <li>Help prevent osteoporosis.</li>
        <li>Help prevent premature aging and wrinkling of the skin.</li>
        <li>Help keep your skin smooth and soft</li>
        <li>Help protect against skin cancer and blemishes.</li>
    </ul>


    <p>Advantage of UNO Virgin Coconut Oil against it's competitors:</p>
    <p>1st: It's more likely to take because it's packed in a soft-gel capsule</p>
    <p>2nd: No after taste! Other Virgin Coconut Oil products are manufactured in liquid form. Other people don't like the feeling of drinking an oil.</p>
    <p>3rd: No smell of an oil product!</p>
    <p>4th: Has a sweet taste. But not as sweet as sugar, it's a natural taste of the coconut.</p>

</div>