@{
    ViewBag.Title = "WHEATGRASS & BARLEY";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding: 10px;">

    <h2>WHEATGRASS & BARLEY</h2>

    <p><b>Content:</b> 100% Natural Extracts of Wheatgrass and Barley</p>
    <p><b>Packaging:</b> 500 grams/capsule; 60 capsules/ box</p></p>

    <ol>
        <li>Points about UNO Wheat Grass & Barley and its Nutritional Values</li>

        <li>Wheatgrass Juice is one of the best sources of living chlorophyll available.</li>
        <li>Chlorophyll is the first product of light and, therefore, contains more light energy than any other element.</li>
        <li>Wheatgrass juice is a crude chlorophyll and can be taken orally and as a colon implant without toxic side effects.</li>
        <li>Chlorophyll is the basis of all plant life.</li>
        <li>Wheatgrass is high in oxygen like all green plants that contain chlorophyll. The brain and all body tissues function at an optimal level in a highly-oxygenated environment.</li>
        <li>Chlorophyll is anti-bacterial and can be used inside and outside the body as a healer.</li>
        <li>Dr. Bernard Jensen says that it only takes minutes to digest wheatgrass juice and uses up very little body energy.</li>
        <li>Science has proven that chlorophyll arrests growth and development of unfriendly bacteria.</li>
        <li>Chlorophyll (wheatgrass) rebuilds the bloodstream. Studies of various animals have shown chlorophyll to be free of any toxic reaction. The red cell count was returned to normal within 4 to 5 days of the administration of chlorophyll, even in those animals which were known to be extremely anemic or low in red cell count.</li>
        <li>Farmers in the Midwest who have sterile cows and bulls put them on wheatgrass to restore fertility. (The high magnesium content in chlorophyll builds enzymes that restore the sex hormones.)</li>
        <li>Chlorophyll can be extracted from many plants, but wheatgrass is superior because it has been found to have over 100 elements needed by man. If grown in organic soil, it absorbs 92 of the known 102 minerals from the soil.</li>
        <li>Wheatgrass has what is called the grass-juice factor, which has been shown to keep herbivorous animals alive indefinitely.</li>
        <li>Dr. Ann Wigmore and institutes based on her teachings has been helping people get well from chronic disorders for 30 years using wheatgrass. 14. Liquid chlorophyll gets into the tissues, refines them and makes them over.</li>
        <li>Wheatgrass Juice is a superior detoxification agent compared to carrot juice and other fruits and vegetables. Dr Earp-Thomas, associate of Ann Wigmore, says that 15 pounds of Wheatgrass is the equivalent of 350 pounds of carrot, lettuce, celery, and so forth.</li>
        <li>Liquid chlorophyll washes drug deposits from the body.</li>
        <li>Chlorophyll neutralizes toxins in the body.</li>
        <li>Chlorophyll helps purify the liver.</li>
        <li>Chlorophyll improves blood sugar problems.</li>
        <li>In the American Journal of Surgery (1940), Benjamin Gruskin, M.D. recommends chlorophyll for its antiseptic benefits. The article suggests the following clinical uses for chlorophyll: to clear up foul smelling odors, neutralize Strep infections, heal wounds, hasten skin grafting, cure chronic sinusitis, overcome chronic inner-ear inflammation and infection, reduce varicose veins and heal leg ulcers, eliminate impetigo and other scabby eruptions, heal rectal sores, successfully treat inflammation of the uterine cervix, get rid of parasitic vaginal infections, reduce typhoid fever, and cure advanced pyorrhea in many cases.</li>
        <li>Wheatgrass Juice cures acne and even help to remove scars after it has been ingested for seven to eight months. The diet must be improved at the same time.</li>
        <li>Wheatgrass juice acts as a detergent in the body and is used as a body deodorant.</li>
        <li>A small amount of wheatgrass juice in the human diet helps prevents tooth decay.</li>
        <li>Wheatgrass juice held in the mouth for 5 minutes will help eliminate toothaches. It pulls poisons from the gums.</li>
        <li>Gargle Wheat grass Juice for a sore throat.</li>
        <li>Drink Wheatgrass Juice for skin problems such as eczema or psoriasis.</li>
        <li>Wheat grass Juice keeps the hair from graying.</li>
        <li>Pyorrhea of the mouth: lay pulp of wheatgrass soaked in juice on diseased area in mouth or chew wheat grass, spitting out the pulp.</li>
        <li>By taking Wheat grass Juice, one may feel a difference in strength, endurance, health, and spirituality, and experience a sense of well-being.</li>
        <li>Wheatgrass juice improves the digestion.</li>
        <li>Wheat grass juice is high in enzymes.</li>
        <li>Wheatgrass juice is an excellent skin cleanser and can be absorbed through the skin for nutrition. Pour green juice over your body in a tub of warm water and soak for 15 to 20 minutes. Rinse off with cold water.</li>
        <li>Wheatgrass implants (enemas) are great for healing and detoxifying the colon walls. The implants also heal and cleanse the internal organs. After an enema, wait 20 minutes, then implant 4 ounces of wheatgrass juice. Retain for 20 minutes.</li>
        <li>Wheatgrass juice is great for constipation and keeping the bowels open. It is high in magnesium.</li>
        <li>Dr. Birscher, a research scientist, called chlorophyll "concentrated sun power." He said, "chlorophyll increases the function of the heart, affects the vascular system, the intestines, the uterus, and the lungs."</li>
        <li>According to Dr. Birscher, nature uses chlorophyll (wheatgrass) as a body cleanser, rebuilder, and neutralizer of toxins.</li>
        <li>Wheat grass juice can dissolve the scars that are formed in the lungs from breathing acid gasses. The effect of carbon monoxide is minimized since chlorophyll increases hemoglobin production.</li>
        <li>Wheatgrass Juice reduces high blood pressure and enhances the capillaries.</li>
        <li>Wheat grass Juice can remove heavy metals from the body.</li>
        <li>Wheatgrass juice is great for blood disorders of all kinds</li>
    </ol>

    <h3>HEALTH BENEFITS OF UNO WHEATGRASS & BARLEY</h3>

    <ul>
        <li>Promotes cardiovascular health and helps prevent heart diseases.</li>
        <li>Aids in reducing high levels of cholesterol in the body and helps prevent high blood pressure.</li>
        <li>Helps in prevention of stroke (ischemic stroke).</li>
        <li>Helps prevent cancer.</li>
        <li>Aids in the fight against diabetes by providing essential elements needed by diabetic patients.</li>
        <li>Aids in the improvement of Asthmatic condition.</li>
        <li>Provides good supply of iron to organs and may help improve anemic conditions.</li>
        <li>Helps in increasing the numbers of red blood cells in the body and aid in the body's ability to use oxygen.</li>
        <li>Increases stamina or energy level of the body as well as strengthening the immune system.</li>
        <li>Aids in the treatment of gastro-intestinal disorders such as duodenal and colon disorders.</li>
        <li>Promotes a healthy circulatory, digestive, immune and detoxification system of the body.</li>
        <li>May help improve memory and clarity of thought.</li>
        <li>Helps in purifying the blood and liver from toxins and other free radicals by washing it out of the body.</li>
        <li>Helps decrease carbon dioxide in the body.</li>
        <li>Helps in the healing process of wounds, scrapes and sores.</li>
        <li>Helps fight harmful bacteria that might cause infection to wounds and scrapes.</li>
        <li>
            Helps provide help in the treatment of any inflammation in the body due to its
            anti-inflammatory properties.
        </li>
        <li>Helps in the prevention against gallstone formation.</li>
        <li>Helps fight body odor and bad breath.</li>
        <li>Cleans and deodorizes tissues in the bowel system.</li>
        <li>Promotes better looking skin, hair and nails.</li>
        <li>Helps prevent the dryness of the skin due to aging and promote a youthful looking skin.</li>
        <li>Improves sexual energy</li>
    </ul>

</div>