@{
    ViewBag.Title = "Inquiry Confirmed";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}



<div class="page" style="padding: 10px;">
    <div class="page-region">
        <div class="page-region-content">

            <h2>Email Sent!</h2>

            <p>
                Thank you for sending a payment request. Please check your email for the next step.
            </p>

        </div>
    </div>
</div>