@{
    ViewBag.Title = "PayPal";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div class="page" style="padding: 10px;">
    <div class="page-region">
        <div class="page-region-content">

            <h2>PayPal Link</h2>
            <div style="text-align:center;width:100%;">
@switch ((int)ViewBag.PayPalID)
{
case 5:
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KDMSQB5AUZTHL">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    break;
case 6:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KPKQGBHQHAUJ4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 7:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="X4N2FH5ZYWPG4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 8:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="H36UAG8HF8RHU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 9:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5N9Q974AEGC3C">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 10:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3RF8Q79Y3RX5A">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 11:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CXFACX38UCEHA">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 12:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="YX9E5WQQC64PL">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 13:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="FJQH9KMHBME6Q">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 14:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WF3K26KA2HGB8">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 15:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PF37FD3JA242J">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 16:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WL4N9VJ3VKK8W">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 17:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="R6AJVXKEN6KFG">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 18:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="P55KVN8RHKJKA">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 19:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="38DW3TQJ6RSNC">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 20:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LSP3CCZ7VBA72">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 21:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="DXKBLCT2LYXCU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 22:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="F38GALALWY2RU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 23:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LF5V9XCFB4BMS">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 24:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="HHUJV5HHLSDAG">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 25:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4WRBE4KS2WAEW">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 26:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="33JMNE2Z8QXPQ">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 27:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="X5F5XFUYDRMK4">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 28:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="DHZLD6TTN4B6A">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 29:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XMH7DUUT4HG7S">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 30:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Q4RKEPTDJBEYA">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 31:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Q5RNHJNY54DF8">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 32:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CQU6Y8ZCQEP4G">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 33:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AD526GTKZAAP4">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 34:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PB44WP9UX8EQW">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


    break;
case 35:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZJ52XVETV245E">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 36:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2M2G75C7QSQLN">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 37:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="53LY88ERPLFAA">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 38:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MJHGZLRSLWWUA">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 39:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="R4NH4B868G6WN">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 40:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="FZ45E2MJNHAQE">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 41:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5UBRJYFLVSH9G">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 42:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4GU75T6VZ4UDG">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 43:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9D3KSC2RWWLWQ">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 44:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SNZEJRGEK94EL">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 45:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3V8KV95BMWQRS">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 46:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PQT843PYRQ6ML">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Select your location">Select your location</td></tr><tr><td><select name="os0">
	<option value="Within Metro Manila">Within Metro Manila P7,300.00 PHP</option>
	<option value="Outside Metro Manila (includes Vis. and Min.)">Outside Metro Manila (includes Vis. and Min.) P7,450.00 PHP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="PHP">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 47:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="walterwarrentrinidad@yahoo.com">
    <input type="hidden" name="lc" value="PH">
    <input type="hidden" name="item_name" value="Local membership">
    <input type="hidden" name="item_number" value="151">
    <input type="hidden" name="amount" value="1500.00">
    <input type="hidden" name="currency_code" value="PHP">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="tax_rate" value="0.000">
    <input type="hidden" name="shipping" value="0.00">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    break;
case 48:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="walterwarrentrinidad@yahoo.com">
    <input type="hidden" name="lc" value="PH">
    <input type="hidden" name="item_name" value="Local membership">
    <input type="hidden" name="item_number" value="151">
    <input type="hidden" name="amount" value="1500.00">
    <input type="hidden" name="currency_code" value="PHP">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="tax_rate" value="0.000">
    <input type="hidden" name="shipping" value="0.00">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
case 49:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="walterwarrentrinidad@yahoo.com">
    <input type="hidden" name="lc" value="PH">
    <input type="hidden" name="item_name" value="Local membership">
    <input type="hidden" name="item_number" value="151">
    <input type="hidden" name="amount" value="1500.00">
    <input type="hidden" name="currency_code" value="PHP">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="tax_rate" value="0.000">
    <input type="hidden" name="shipping" value="0.00">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    break;
}
            </div>
        </div>
    </div>
</div>