@{
    ViewBag.Title = "Payment Confirmed";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}



<div class="page" style="padding: 10px;">
    <div class="page-region">
        <div class="page-region-content">

            <h2>Reference Number Confirmed</h2>

            <p>
                We've just received your reference number and would like to thank you, we are committed in providing you with the highest level of customer satisfaction possible. 
            </p>
            <p>
                Please contact RedLions so we can process your payment.
            </p>

        </div>
    </div>
</div>