
html,
body 
{
    margin:0;
    padding:0;
    height:100%;
}

#container 
{
    height:100%;
    min-height: 780px;
    min-width: 1200px;
    position:relative;
}

#header {
    margin: 0 0 10px 0;
    min-height: 100px;
    padding-top: 90px;
}

#body 
{
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
    text-align: center;
}

.metro.redlions #redlions-logo
{
    position: absolute;
    top: 30px;
    left: 15%;
}

#footer 
{
    background: #f1f1f1 url('/Content/Images/UI/footer50_bg2.png') 0 0 repeat-x;
    position:absolute;
    bottom:0;
    width:100%;
    height:200px;   /* Height of the footer */
    text-align: center;
}

.footer-menu
{
    margin: 0 auto;
    position: relative;
    top: 25px;
    width: 950px;
    display: inline-block;
}

.footer-columns
{
    float: left;
    display: inline-block;
    width: 185px;
    margin-top: 15px;
    font-family: Geneva, sans-serif;
    font-size: 11px;
    line-height: 1.5em;
}

.metro .footer-menu h1
{
    font-size: 12px;
    margin: 0;
    color: #9B1112;
    display: block;
    font-weight: bold;
    line-height: 3em;
}

.footer-menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0.8em;
}

.footer-menu li a
{
    text-decoration: none;
    font-size: 10px;
    color: #c7b299;
        
}

#slider
{
    margin: 0 auto;
    list-style: none;
}

/* resize */
.clearboth 
{
    clear: both;
    width: 0px;
    height: 0px;
    margin: 0px;
}

div#copyright
{
    width: 934px;
    margin: 0 auto;
    position: relative;
    color: #9B1112;
    font-size: 10px;
    font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    clear: both;
    padding-top: 20px;
    padding-left: 60px;
    text-align: left;    
}

a.social
{
    background: url('/Content/Images/UI/Face_btn.jpg') 0 0 no-repeat;
    width: 44px;
    height: 40px;
    outline: 0;
    display: block;
    float: left;
    margin-left: 15px;
    text-decoration: none;
    text-indent: -999em;
}

a#fb
{
    background: url('/Content/Images/UI/Face_btn.jpg') 0 0 no-repeat;
}

a#twitter
{
    background: url('/Content/Images/UI/Twit_btn.jpg') 0 0 no-repeat;
}

a#youtube
{
    background: url('/Content/Images/UI/You_btn.jpg') 0 0 no-repeat;
}


.loaders
{
    width: 16px;
    height: 16px;
    background: url('/Content/Images/UI/loading_small.gif') 0 0 no-repeat;
    display: inline-block;
   
}