.menu-option {
    width: 100%; 
    text-align: left; 
    font-size: 12px;
}

.menu-option:hover {
    cursor: pointer; 
    cursor: hand; 
}

.menu-option.selected {
    width: 100%; 
    font-size: 12px;
    background-color: #7b0002; 
    color: #fff; 
}

.menu-option ul {
    list-style-type: none;
}

.menu-option ul li {
    font-size: 11px; 
    color: #000;
}

.menu-option.selected ul li {
    font-size: 11px; 
    color: #fff;
}

.option-container {
    background-color: #7b0002;
    width: 650px;
}

.option {
    width: 100%; 
    height: 100%; 
    padding: 10px; 
    text-align: center;
    display: none;
}

.option .title {
    clear: both;
    color: #c69000;
}

.option .panel {
    width:300px;
    display:inline-block;
    float:left;
    margin:2px;
}

.option .panel-heading {
    background-image: url('/Content/Images/Home/Layout/panel_header.png'); 
    color: #fff;
    height: 45px; 
    border-radius: 0px; 
    text-align: center; 
    padding-top: 12px; 
    font-size: 12px;
}

.option .panel-body {
    padding:1px;
    background-color:#1c1c1c;
    color:#fff;
    text-align:left;
    padding:10px;
    height:510px;
}

#option-hk.option .panel-body {
    height: 850px !important;
}

#option-sg.option .panel-body {
    height: 850px !important;
}

.option .panel-body ul {
    font-size:10px;
    color:#fff;
}

.option .panel-body ol {
    font-size:10px;
    color:#fff;
}

.option .panel-body p {
    font-size:12px;
    color:#fff;
}



div.summary.container {
    width: 150px !important;
    float: right;
    vertical-align: top;
    margin-right:10px;
}


.products .summary {
    width: 100%; 
    text-align: right; 
    font-size: 12px;
    padding: 5px;
}

.products.summary .title {
    text-align: right;
}

.summary .heading {
    color: #7b0002;
}

.summary ul {
    list-style-type: none;
}

.summary ul li {
    font-size: 11px; 
    color: #000;
}

.summary:hover {
    cursor: pointer; 
    cursor: hand; 
}

.summary.selected {
    width: 100%; 
    font-size: 12px;
    background-color: #7b0002; 
    color: #fff; 
}

.summary.selected .heading {
    color: #fff; 
}

.summary.selected ul li {
    font-size: 11px; 
    color: #fff;
}


.products.option-container {
    background-color: #fff;
    display:inline-block;
    width:800px;
    min-height:946px; 
}


.products.option-container .panel {
    width: 155px;
    display:inline-block;
    float:left;
    margin:2px;
}

.products.option-container .panel-heading {
    background-image: url('/Content/Images/Home/Layout/panel_header.png'); 
    color: #fff;
    height: 45px; 
    border-radius: 0px; 
    text-align: center; 
    padding-top: 12px; 
    font-size: 12px;
}

.products.option-container .panel-body {
    padding:1px;
    background-color:#1c1c1c;
    color:#fff;
    text-align:left;
    padding:2px;
}

form {
    padding-top: 5px;
    text-align: center;
}