/**
* Profile UI Style
*
* Styles that are referenced for member profile page.
*/

.chat-content {
    height: 500px;
    width: 700px;
    border: 1px solid #D9D9D9;
}

#chat-sessions {
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    width: 30%;
    height: 100%;
    border-right: 1px solid #D9D9D9;
}

.chat-session {
    border-bottom: 1px solid #D9D9D9;
    padding-left: 5px;

    height: 51px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-session:hover{
    background: #FFD8D8;
    cursor: pointer; 
    cursor: hand;
}

.chat-session.selected {
    background-color: #A60000;
    color: #fff!important;
}

.chat-session.selected p {
    color: #fff!important;
}

#chat-box {
    width: 70%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

#chat-log {
    display: block;
    margin: 5px;
}

#chat-name {
    display: block;
}

#chat-message {

}