@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password Successful</h2>

<p>
    Password reset was successful.
</p>

<div>@Html.ActionLink("Back to account Summary", "Details", new { id = ViewBag.UserID })</div>

<div>@Html.ActionLink("Back to List", "Index")</div>
