
@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Reset Password</legend>

        @Html.Hidden("ID", (int)ViewBag.UserID)

        <div class="input-control">
            <input type="submit" class="primary" value="Reset" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to account Summary", "Details", new { id = ViewBag.UserID })
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
