@{
    ViewBag.Title = "Reset Password";
}

<h2>Subscription Extended</h2>

<p>
    Subscription was successfully extended.
</p>

<div>@Html.ActionLink("Back to account Summary", "Details", new { id = ViewBag.UserID })</div>

<div>@Html.ActionLink("Back to List", "Index")</div>
